.background-img-main {
  background: url(https://res.cloudinary.com/urbanclap/image/upload/fl_progressive:steep/v1490770948/2x_1.jpg) no-repeat center center/cover;
  height: 400px;
  
}
.img-mock {
  width: 400px;
}